
.productCont {
    width: 92vw;
    height: 60vh;
    border-radius: 40px;
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 22vw 40vw 40px;
    grid-template-rows: 30px 70px 30px 50px ;
    grid-template-areas: 'prodImg nameRef nameRef nameRef'
        'prodImg rating rating rating'
        'prodImg price price price '
        'prodImg storeName storeName storeName'
        'prodImg info info info'
        'prodImg info info info'
        'prodImg footer footer footer';
}

.prodImage{
    grid-area:prodImg;
    border-width: 2px;
    border-color: rgb(92, 92, 92);
    border-radius: 20px;
    width: 20vw;
    height: 20vw;
    display:block;
}
.rating{
    grid-area: rating;
}
.prodPrice{
    grid-area: price;
}

.prodName {
    grid-area: nameRef;
}
.prodStoreName {
    grid-area: storeName;
    width:15vw;
}
.footer{
    grid-area: footer;
}

.prodInfo{
    grid-area: info;
    width: 30vw;
}

.wrapper{
    height: 60px;
    width: 120px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(222, 221, 221, 1);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.quantity{
    margin-left: 40px;
}
.wrapper button{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.wrapper:hover{
    background-color: white;;
}
.wrapper button.num{
    font-size: 20px;
    border-right: 1px solid rgba(0,0,0,0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.addToCart{
    margin-top: 100px;
    margin-right:100px;
}
.cartIcon{
    width: 30px;
}
